.expense-tracker-container {
  align-items: center;
  text-align: center;
}

.expense-tracker-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.expense-header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}

.expense-tracker-header h1 {
  font-size: 36px;
  color: black;
}

.paw-print-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  color: blueviolet;
}

.expense-subtitle {
  font-size: 20px;
  color: gray;
}

.summary-cards {
  display: flex;
  flex-direction: column;
}

.expense-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.dollar-icon {
  margin-right: 6px;
  color: green;
  width: 50px;
  height: 50px;
}
.expense-summary-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 30px;
}

.expense-summary-content h3 {
  padding-bottom: -10px;
  margin: 0px;
  padding-bottom: 10px;
}

.expense-amount{ 
  color: green;
  margin: 10px;
  font-weight: bold;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.expense-filter-wrapper {
  max-width: 600px;     /* controls the maximum stretch */
  width: 100%;          /* allows it to still shrink on small screens */
  margin: 0 auto;       /* centers it horizontally */
  padding: 0 16px;      /* optional inner spacing */
}

.expense-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pet-filter-select,
.add-expense {
  height: 30px;
}
